.row {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #cacaca;
}

.row > div {
  text-align: left;
  padding: 1.2rem;
  width: 120px;
  white-space: nowrap;
}

.row > div:first-child {
  flex: 1;
  min-width: 50px;
}

.row:last-child {
  border: 0;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 800px;
}

.status {
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
}

.error {
  color: #f75c46;
  background: #ffebe7;
}

.complete {
  color: #15a46e;
  background: #cef8e0;
}