.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar {
  width: 50px;
  height: 8px;
  background: #eaeaea;
  overflow: hidden;
  border-radius: 4px;
}

.progress {
  background: #15a46e;
  height: 10px;
}