html, body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #eaeaea;
  flex: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input, textarea, button {
  font-family: 'JetBrains Mono', monospace;
}